body {
    margin: 20px;
    background-color:  #e1efe6;
    background: linear-gradient(#e1efe6,#54077D);
    background-size:cover;
    background-attachment: fixed;
}

.card {
    display: flex;
    padding: 10px;
    justify-content: space-around;
    width: 380px;
    margin: 0 auto;
    background-color: #aeb7b3;
    border-bottom: 5px solid #160c28;


}

.avatar {
    width: 140px;
}

.text {
    text-align: center;
    margin: 10px;
    color: #000411;
}

.img {
    margin: 10px;
    
}

.btn {
    
    color: #aeb7b3;
    cursor: pointer;
    border: none;
    background-color: transparent;
    border-radius: 4px;
    padding: 0; /* Remove padding for consistency */

    
}
.link{
    color: #54077D;
    text-decoration: none;
    cursor: pointer;
   
}
.icon_{
    background-color: transparent;
    border: none;
    width: 50px;
    padding: 0;
    display: block;
    justify-content: space-around;
}
.buttons {
     /* Use flexbox for buttons container */
    justify-content: space-around; /* Center the buttons */
    gap: 15px; /* Add space between buttons */
    margin-top: 0px; /* Add some margin to the top */
}
.mid{
    color: #e1efe6;
    font-family: "Happy Monkey", system-ui;
    text-align: center;
    margin-top: 100px;
}
.gift{
    background-image: url("https://i.pinimg.com/474x/a2/5b/97/a25b97221dc8780f82123c4cd186de77.jpg");
    width: 300px;
    height: 400px;
    margin: 0 auto;
    background-size: cover;
}
#img:hover{
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExZGNia3ljdDFrajlqYnVmOWI2aDFqOGJ5eTVlOTR3MGZ4OWJmNTZ3ZyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/gHhH7T2hDcGe4/giphy.gif");
}
#img-1:hover{
    background-image: url("https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExa29yMmhjMGpmNnM4ZXppNG15ZTEwNDVub2RyMnFmdDZwMDcwMHhkOSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/APVsuygKOLoUE/giphy.gif");
}
#img-2:hover{
    background-image: url("https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExbWw3ZDZ5bHZidWxxdjhwY28zbWQxYWs1MzhlbnBlb2IzZmw5MTN1ZSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/eTv2whEv6K7yo/giphy.gif");
}
#img-3:hover{
    background-image: url("https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExNXBmMmVmdXkyMnR6dXU1N3J3bGlwYmg2ajJ4a3ZtZjBlanJtYnFtZyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/SUW1UbNRibbkRciIEI/giphy.gif");
}