body{
    margin: 20px;
    background-color: #FFE6E6;
}
.card{
    display: flex;
    
    padding: 10px;
    justify-content: space-around;
    width: 400px;
    margin: 0 auto;
    background-color: #74512D;
    border-bottom: 5px solid #AF8F6F;

}
.avatar{
    width: 200px;
}
.text{
    text-align: center;
    margin: 10px;
    color:#F8F4E1;
}
.img{
    margin: 10px;
}
.btn{
    color: brown;
    cursor: pointer;
}